<!doctype html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Citizens</title>
    <link rel="icon" type="image/png" th:href="@{/image/icon.png}"/>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/styles/uicons.css}"/>
    <link rel="stylesheet" th:href="@{/styles/global.css}"/>
    <link rel="stylesheet" th:href="@{/styles/user.css}"/>
    <link rel="stylesheet" th:href="@{/architectureStatic/architecture-css.css}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="https://img.icons8.com/ultraviolet/100/000000/mac-os--v1.png">
    <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
</head>

<body class="background">

<noscript>
    <h2>Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable Javascript and reload this page!</h2>
</noscript>

<header>
    <div class="navbar center-all">
        <div class="center-all">
            <img th:src="@{/image/icon.png}" class="icon"/>
            <h1 class="name">Citizens</h1>
        </div>
        <div class="center-all">
            <h2 class="name">Employé</h2>
        </div>
        <div class="right-navbar center-all">
            <a href="/guidanceOption">Se faire guider</a>
            <a href="/login">
                <i class="fi fi-rr-apps"></i>
            </a>
        </div>
    </div>
</header>

<br><br><br><br><br><br><br><br>

<div class="container text-center mag-t">
    <form th:action="@{/accessMap/display}" method="get">
            <div class="dropdown" style="margin:0 auto; width:500px;">
                <span style="font-size: x-large;">Veuillez selectionner un bâtiment :</span> <br><br>
                <select id="building" name="buildings" class="btn btn-primary" >
                    <option value="*">Choisissez un bâtiment</option>
                    <th:block th:each="building : ${buildings}">
                        <option th:value="${building.name_building}">
                            <span th:text="${building.name_building}"></span>
                        </option>
                    </th:block>
                </select>
            </div>
        <br><br><br>
            <div class="dropdown" style="margin:0 auto; width:500px;">
                <span style="font-size: x-large;">Veuillez selectionner un étage :</span> <br><br>
                <select id="floors" name="floors" class="btn btn-primary">
                </select>
            </div>
        <br><br><br>
        <button type="submit" class="btn btn-primary" style="font-size: large;">Afficher le plan</button>
    </form>
</div>

<script type="text/javascript" th:src="@{/architectureStatic/getting-floors.js}"></script>

</body>

</body>
</html>