<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>UC 7 - Architecture</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/architecture-css.css}">
</head>

<body>

<!-- NAV BAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/guidanceOption">Se faire guider</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/personalizeDesign">Design Intérieur</a>
            </li>
        </ul>
    </div>
</nav>
<!-- NAV BAR -->

<div class="title-page">Plan d'accès du <span th:text="${param.floors}"></span> </div>

<p style="text-align: center;">
    <img src="https://www.jung.de/~mi/9930/16537/jung-knx-topologie.png" alt="" />
</p>

<div class="container text-center mag-t">
    <form action="/accessMap/display">
        <div class="dropdown" style="margin:0 auto; width:500px;">
            <span style="font-size: x-large;">Bureaux :</span> <br><br>
            <select id="office" name="offices" class="btn btn-primary" >
                <th:block th:each="office : ${offices}">
                    <option value="${office.name_space}">
                        <span th:text="${office.name_space}"></span>
                    </option>
                </th:block>
            </select>
        </div>
        <br>
        <div class="dropdown" style="margin:0 auto; width:500px;">
            <span style="font-size: x-large;">Salles de réunion :</span> <br><br>
            <select id="meetingRoom" name="meetingRooms" class="btn btn-primary" >
                <th:block th:each="meetingRoom : ${meetingRooms}">
                    <option value="${meetingRoom.name_space}">
                        <span th:text="${meetingRoom.name_space}"></span>
                    </option>
                </th:block>
            </select>
        </div>
        <br>
        <div class="dropdown" style="margin:0 auto; width:500px;">
            <span style="font-size: x-large;">Salles individuelles :</span> <br><br>
            <select id="individualRoom" name="individualRooms" class="btn btn-primary" >
                <th:block th:each="individualRoom : ${individualRooms}">
                    <option value="${individualRoom.name_space}">
                        <span th:text="${individualRoom.name_space}"></span>
                    </option>
                </th:block>
            </select>
        </div>
        <br>
        <div class="dropdown" style="margin:0 auto; width:500px;">
            <span style="font-size: x-large;">Espaces Ouverts :</span> <br><br>
            <select id="openSpace" name="openSpaces" class="btn btn-primary" >
                <th:block th:each="openSpace : ${openSpaces}">
                    <option value="${openSpace.name_space}">
                        <span th:text="${openSpace.name_space}"></span>
                    </option>
                </th:block>
            </select>
        </div>
    </form>
</div>

</body>

</html>