<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>UC 7 - Architecture</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/architectureStatic/architecture-css.css}">
    <link rel="icon" type="image/png" sizes="16x16" href="https://img.icons8.com/ultraviolet/100/000000/mac-os--v1.png">
    <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
</head>

<body>

<!-- NAV BAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/guidanceOption">Se faire guider</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/personalizeDesign">Design Intérieur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myConfigurations">Mes Configurations</a>
            </li>
        </ul>
    </div>
</nav>
<!-- NAV BAR -->

<div class="title-page">Plan d'accès du <span th:text="${param.floors}"></span> </div>

<div th:switch="${design}">
    <div th:case="'1'" class="plan0">
        <div class="item toilet">
            <div class="item-content">T1F</div>
        </div>
        <div class="item corridor11" style="background: lightgray;   width: 3%;  height: 100%; border: 0px;">
            <div class="item-content">C1</div>
        </div>
        <div class="item corridor12" style="background: lightgray;   width: 84%; height: 7%;   border: 0px;">
            <div class="item-content">C2</div>
        </div>
        <div class="item corridor13" style="background: lightgray;   width: 3%;  height: 100%; border: 0px;">
            <div class="item-content">C3</div>
        </div>
        <div class="item toilet">
            <div class="item-content">T2F</div>
        </div>
        <div class="item openSpace1" style="background: orange;      width: 40%; height: 37%;  border: 0px;">
            <div class="item-content" style="display: flex; justify-content: space-around; align-items: center; width: 100%; height: 100%">
                <th:block th:each="openSpace : ${openSpaces}">
                    <span th:text="${openSpace.name_space}"></span>
                    <!--                    <span style="width: 1px; height: 100%; background-color: white"></span>-->
                </th:block>
            </div>
        </div>
        <div class="item corridor16" style="background: lightgray;   width: 4%;  height: 37%;  border: 0px;">
            <div class="item-content">C6</div>
        </div>
        <div class="item office1" style="background: red;         width: 40%; height: 37%;  border: 0px;">
            <div class="item-content" style="display: flex; justify-content: space-around; align-items: center; width: 100%; height: 100%">
                <th:block th:each="office : ${offices}">
                    <span th:text="${office.name_space}"></span>
                    <!--                    <span style="width: 1px; height: 100%; background-color: white"></span>-->
                </th:block>
            </div>
        </div>
        <div class="item elevator">
            <div class="item-content">A1</div>
        </div>
        <div class="item corridor15" style="background: lightgray;   width: 84%; height: 12%;  border: 0px;">
            <div class="item-content">C5</div>
        </div>
        <div class="item elevator">
            <div class="item-content">A2</div>
        </div>
        <div class="item toilet">
            <div class="item-content">T1H</div>
        </div>
        <div class="item meetingRoom1" style="background: coral;       width: 40%; height: 37%;  border: 0px;">
            <div class="item-content" style="display: flex; justify-content: space-around; align-items: center; width: 100%; height: 100%">
                <th:block th:each="meetingRoom : ${meetingRooms}">
                    <span th:text="${meetingRoom.name_space}"></span>
                    <!--                    <span style="width: 1px; height: 100%; background-color: white"></span>-->
                </th:block>
            </div>
        </div>
        <div class="item corridor17" style="background: lightgray;   width: 4%;  height: 37%;  border: 0px;">
            <div class="item-content">C7</div>
        </div>
        <div class="item individualRoom1" style="background: hotpink;     width: 40%; height: 37%;  border: 0px;">
            <div class="item-content" style="display: flex; justify-content: space-around; align-items: center; width: 100%; height: 100%">
                <th:block th:each="individualRoom : ${individualRooms}">
                    <span th:text="${individualRoom.name_space}"></span>
                    <!--                    <span style="width: 1px; height: 100%; background-color: white"></span>-->
                </th:block>
            </div>
        </div>
        <div class="item toilet">
            <div class="item-content">T2H</div>
        </div>
        <div class="item corridor14" style="background: lightgray;   width: 84%; height: 7%;   border: 0px;">
            <div class="item-content">C4</div>
        </div>
    </div >
    <div th:case="'2'" class="plan0">
        <div class="item toilet">
            <div class="item-content">T1F</div>
        </div>
        <div class="item openSpace2">
            <div class="item-content" style="display: flex; justify-content: space-around; align-items: center; width: 100%; height: 100%">
                <th:block th:each="openSpace : ${openSpaces}">
                    <span th:text="${openSpace.name_space}"></span>
                </th:block>
            </div>
        </div>
        <div class="item toilet">
            <div class="item-content">T2F</div>
        </div>
        <div class="item corridor21">
            <div class="item-content">C1</div>
        </div>
        <div class="item corridor24">
            <div class="item-content">C4</div>
        </div>
        <div class="item individualRoom2">
            <div class="item-content" style="display: flex; justify-content: space-around; align-items: center; width: 100%; height: 100%">
                <th:block th:each="individualRoom : ${individualRooms}">
                    <span th:text="${individualRoom.name_space}"></span>
                </th:block>
            </div>
        </div>
        <div class="item corridor23">
            <div class="item-content">C3</div>
        </div>
        <div class="item elevator">
            <div class="item-content">A1</div>
        </div>
        <div class="item elevator">
            <div class="item-content">A2</div>
        </div>
        <div class="item meetingRoom2">
            <div class="item-content" style="display: flex; justify-content: space-around; align-items: center; width: 100%; height: 100%">
                <th:block th:each="meetingRoom : ${meetingRooms}">
                    <span th:text="${meetingRoom.name_space}"></span>
                </th:block>
            </div>
        </div>
        <div class="item toilet">
            <div class="item-content">T1H</div>
        </div>
        <div class="item toilet">
            <div class="item-content">T2H</div>
        </div>
        <div class="item corridor22">
            <div class="item-content">C2</div>
        </div>
        <div class="item office2">
            <div class="item-content" style="display: flex; justify-content: space-around; align-items: center; width: 100%; height: 100%">
                <th:block th:each="office : ${offices}">
                    <span th:text="${office.name_space}"></span>
                </th:block>
            </div>
        </div>
    </div>
    <div th:case="'3'" class="plan0">
        <div class="item toilet">
            <div class="item-content">T1F</div>
        </div>
        <div class="item corridor31">
            <div class="item-content">C1</div>
        </div>
        <div class="item openSpace3">
            <div class="item-content" style="display: flex; justify-content: space-around; align-items: center; width: 100%; height: 100%">
                <th:block th:each="openSpace : ${openSpaces}">
                    <span th:text="${openSpace.name_space}"></span>
                </th:block>
            </div>
        </div>
        <div class="item corridor32">
            <div class="item-content">C2</div>
        </div>
        <div class="item toilet">
            <div class="item-content">T2F</div>
        </div>
        <div class="item corridor33">
            <div class="item-content">C3</div>
        </div>
        <div class="item individualRoom3">
            <div class="item-content" style="display: flex; justify-content: space-around; align-items: center; width: 100%; height: 100%">
                <th:block th:each="individualRoom : ${individualRooms}">
                    <span th:text="${individualRoom.name_space}"></span>
                </th:block>
            </div>
        </div>
        <div class="item corridor34">
            <div class="item-content">C4</div>
        </div>
        <div class="item elevator">
            <div class="item-content">A1</div>
        </div>
        <div class="item elevator">
            <div class="item-content">A2</div>
        </div>
        <div class="item meetingRoom3">
            <div class="item-content" style="display: flex; justify-content: space-around; align-items: center; width: 100%; height: 100%">
                <th:block th:each="meetingRoom : ${meetingRooms}">
                    <span th:text="${meetingRoom.name_space}"></span>
                </th:block>
            </div>
        </div>
        <div class="item toilet">
            <div class="item-content">T1H</div>
        </div>
        <div class="item toilet">
            <div class="item-content">T2H</div>
        </div>
        <div class="item corridor35">
            <div class="item-content">C5</div>
        </div>
        <div class="item office3">
            <div class="item-content" style="display: flex; justify-content: space-around; align-items: center; width: 100%; height: 100%">
                <th:block th:each="office : ${offices}">
                    <span th:text="${office.name_space}"></span>
                </th:block>
            </div>
        </div>
    </div>
    <div th:case="*"   class="etageVide" align="center">
        <br><br><br><br>
        <p> Cet étage est vide ! </p>
        <br><br><br><br>
    </div>
</div>

<script>
    var plan0 = new Muuri('.plan0', {dragEnabled: false, layout: {vertical: true}});
</script>

</body>

</html>