<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"/>

</head>
<body>
<nav th:insert="~{fragment :: navbar}"></nav>
<form method="get" action="/formForRoom">
    <div class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <div class="row"><label for="building"> Choississez votre maison </label><br>
            <select name="building" id="building"  style="margin-top:15px; margin-bottom:15px">
                <th:block th:each="building : ${houses}">
                    <option
                            th:value="${building.id_building}"
                            th:utext="${building.address}"/>
                </th:block>
            </select>
        </div>

        <div class="row"><label for="floor"> Choississez votre étage </label><br>
            <select name="floor" id="floor" size="1" style="margin-top:15px; margin-bottom:15px">
            </select></div>
        <div class="row">
            <label for="room"> Choississez votre pièce </label><br>
            <select name="room" id="room" size="1" style="margin-top:15px; margin-bottom:15px">
            </select>
        </div>

        <input type="submit" value="Valider">

    </div>
</form>
<script>
    let house = document.getElementById("building");
    house.addEventListener('click', function () {
        let houseselected = house.options[house.options.selectedIndex].label;
        let test = 'http://localhost:9000/floor?house' + houseselected;
        console.log("url test"+test);
        $.ajax({
            //url: 'http://172.31.249.1:9000/floor?house=' + houseselected,
            url: 'http://localhost:9000/floor?house=' + houseselected,
            type: 'GET',
            dataType: 'json',
            success: function (listFloor) {

                document.getElementById("floor").innerHTML = "";
                document.getElementById("room").innerHTML = "";
                for (let i = 0; i < listFloor.length; i++) {
                    document.getElementById("floor").innerHTML += '<option value="' + listFloor[i].id_floor + '">' + listFloor[i].name_floor + '</option>';
                }
            }
        })
    })


    let floor = document.getElementById("floor");
    floor.addEventListener('click', function () {
        let floorselected = floor.options[floor.options.selectedIndex].value;
        console.log("L'id est : " + floorselected);
        $.ajax({
            //url: 'http://172.31.249.1:9000/room?floor=' + floorselected,
            url: 'http://localhost:9000/room?floor=' + floorselected,
            type: 'GET',
            dataType: 'json',
            success: function (listRoom) {
                document.getElementById("room").innerHTML = "";
                for (let i = 0; i < listRoom.length; i++) {
                    document.getElementById("room").innerHTML += '<option value="' + listRoom[i].id_room + '">' + listRoom[i].name + '</option>';
                }
            }
        })
    })
</script>
</body>
</html>