body {
    width: 100%;
    height: 100%;
    padding-bottom:20px;
}
.title-page {
    font-size: 1.3em;
    color: #484848;
    font-weight: 700;
    margin: 3vh 4vw;
}
.row {
    width:100%;
}
.item {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.item-content {
    position: relative;
    text-align: center;
    font-size: 10px;
    color: white;
    cursor: pointer;
}
.plan0 {
    position: relative;
    width: 800px;
    height: 200px;
    border: 2px solid black;
    margin: 5% auto;
}
.plan1 {
    position: relative;
    width: 400px;
    height: 100px;
    border: 2px solid black;
    margin: 10% auto;
}
.plan2 {
    position: relative;
    width: 400px;
    height: 100px;
    border: 2px solid black;
    margin: 10% auto;
}
.plan3 {
    position: relative;
    width: 400px;
    height: 100px;
    border: 2px solid black;
    margin: 10% auto;
}
th {
    border:5px solid #095484;
}
td {
    border:20px groove #1c87c9;
}
.elevator        { background: greenyellow; width: 5%;  height: 12%; border: 0px;}
.toilet          { background: green;       width: 5%;  height: 44%; border: 0px;}
.openSpace1      { background: orange;      width: 45%; height: 44%; border: 0px;}
.office1         { background: red;         width: 45%; height: 44%; border: 0px;}
.individualRoom1 { background: coral;       width: 45%; height: 44%; border: 0px;}
.meetingRoom1    { background: goldenrod;   width: 45%; height: 44%; border: 0px;}
.corridor1       { background: lightgray;   width: 90%; height: 12%; border: 0px;}
.openSpace2      { background: orange;      width: 90%; height: 17%; border: 0px;}
.office2         { background: red;         width: 90%; height: 17%; border: 0px;}
.individualRoom2 { background: coral;       width: 80%; height: 23%; border: 0px;}
.meetingRoom2    { background: goldenrod;   width: 80%; height: 23%; border: 0px;}
.corridor21      { background: lightgray;   width: 90%; height: 10%; border: 0px;}
.corridor22      { background: lightgray;   width: 90%; height: 10%; border: 0px;}
.corridor23      { background: lightgray;   width: 5%;  height: 46%; border: 0px;}
.corridor24      { background: lightgray;   width: 5%;  height: 46%; border: 0px;}
.openSpace3      { background: orange;      width: 80%; height: 18%; border: 0px;}
.office3         { background: red;         width: 80%; height: 18%; border: 0px;}
.individualRoom3 { background: coral;       width: 80%; height: 18%; border: 0px;}
.meetingRoom3    { background: goldenrod;   width: 80%; height: 18%; border: 0px;}
.corridor31      { background: lightgray;  width: 5%;  height: 100%; border: 0px;}
.corridor32      { background: lightgray;  width: 5%;  height: 100%; border: 0px;}
.corridor33      { background: lightgray;  width: 80%; height: 8%;   border: 0px;}
.corridor34      { background: lightgray;  width: 80%; height: 12%;  border: 0px;}
.corridor35      { background: lightgray;  width: 80%; height: 8%;   border: 0px;}

