<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>UC 7 - Architecture</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/architectureStatic/architecture-css.css}">
    <link rel="icon" type="image/png" sizes="16x16" href="https://img.icons8.com/ultraviolet/100/000000/mac-os--v1.png">
    <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/accessMap">Plan d'accès</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/guidanceOption">Se faire guider</a>
            </li>
        </ul>
    </div>
</nav>

<div class="title-page">Personnalisation du design carré</div>

<div class="plan0">
    <div class="item toilet">
        <div class="item-content">T1F</div>
    </div>
    <div class="item openSpace2">
        <div class="item-content">Espace Ouvert</div>
    </div>
    <div class="item toilet">
        <div class="item-content">T2F</div>
    </div>
    <div class="item corridor21">
        <div class="item-content">C1</div>
    </div>
    <div class="item corridor24">
        <div class="item-content">C4</div>
    </div>
    <div class="item individualRoom2">
        <div class="item-content ">Salle individuelle</div>
    </div>
    <div class="item corridor23">
        <div class="item-content">C3</div>
    </div>
    <div class="item elevator">
        <div class="item-content">A1</div>
    </div>
    <div class="item elevator">
        <div class="item-content">A2</div>
    </div>
    <div class="item meetingRoom2">
        <div class="item-content">Salle de réunion</div>
    </div>
    <div class="item toilet">
        <div class="item-content">T1H</div>
    </div>
    <div class="item toilet">
        <div class="item-content">T2H</div>
    </div>
    <div class="item corridor22">
        <div class="item-content">C2</div>
    </div>
    <div class="item office2">
        <div class="item-content">Bureau</div>
    </div>
</div>

<form method="get" action="/personalizeDesign/designSquare/display">
    <p style="text-align: center; font-size: large;">
        Espace ouvert :
        <select name ="os" id="os">
            <option value="">Choisissez une valeur</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </p>
    <p style="text-align: center; font-size: large;">
        Bureau :
        <select name ="of" id="of">
            <option value="">Choisissez une valeur</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
    </p>
    <p style="text-align: center; font-size: large;">
        Salle de réunion :
        <select name ="mr" id="mr">
            <option value="">Choisissez une valeur</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </p>
    <p style="text-align: center; font-size: large;">
        Salle individuelle :
        <select name ="ir" id="ir">
            <option value="">Choisissez une valeur</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
    </p>
    <br><br>
    <p style="text-align: center;">
        <input type="submit" class="btn btn-primary" value="Simuler le plan" />
    </p>
</form>

<script>
    var plan0 = new Muuri('.plan0', {dragEnabled: false, layout: {vertical: true}});
</script>

</body>

</html>