<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>UC 7 - Architecture</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/architectureStatic/architecture-css.css}">
    <link rel="icon" type="image/png" sizes="16x16" href="https://img.icons8.com/ultraviolet/100/000000/mac-os--v1.png">
    <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
</head>
<!--<script type="text/javascript">-->
<!--    function saveDesign() {-->
<!--        // ici on doit sauvegarder la configuration-->
<!--    }-->
<!--</script>-->

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/accessMap">Plan d'accès</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/guidanceOption">Se faire guider</a>
            </li>
        </ul>
    </div>
</nav>

<div class="title-page">Configuration Carré</div>

<br>
<p style="text-align: center;"><span style="font-size: xx-large;">Simulation du nouveau plan :</span></p>

<div class="plan0">
    <div class="item toilet">
        <div class="item-content">T1F</div>
    </div>
    <div class="item openSpace2">
        <div class="item-content">
            <span style="margin-left: 10px;"></span>
            <th:block th:each="os : ${#numbers.sequence(1,param.os)}">
                <span style="margin: 45px">E.Ouvert</span>
            </th:block>
            <span style="margin-right: 10px;"></span>
        </div>
    </div>
    <div class="item toilet">
        <div class="item-content">T2F</div>
    </div>
    <div class="item corridor21">
        <div class="item-content">C1</div>
    </div>
    <div class="item corridor24">
        <div class="item-content">C4</div>
    </div>
    <div class="item individualRoom2">
        <div class="item-content">
            <th:block th:each="ir : ${#numbers.sequence(1,param.ir)}">
                <span style="margin: 9px">S.I</span>
            </th:block>
        </div>
    </div>
    <div class="item corridor23">
        <div class="item-content">C3</div>
    </div>
    <div class="item elevator">
        <div class="item-content">A1</div>
    </div>
    <div class="item elevator">
        <div class="item-content">A2</div>
    </div>
    <div class="item meetingRoom2">
        <div class="item-content">
            <span style="margin-left: 10px;"></span>
            <th:block th:each="mr : ${#numbers.sequence(1,param.mr)}">
                <span style="margin: 35px">S.Réunion</span>
            </th:block>
            <span style="margin-right: 10px;"></span>
        </div>
    </div>
    <div class="item toilet">
        <div class="item-content">T1H</div>
    </div>
    <div class="item toilet">
        <div class="item-content">T2H</div>
    </div>
    <div class="item corridor22">
        <div class="item-content">C2</div>
    </div>
    <div class="item office2">
        <div class="item-content">
            <th:block th:each="of : ${#numbers.sequence(1,param.of)}">
                <span style="margin: 10px">Bu</span>
            </th:block>
        </div>
    </div>
</div>

<br>
<p style="text-align: center;"><span style="font-size: xx-large;">Enregistrement de la configuration simulée :</span></p>
<br>

<div class="container text-center mag-t">
    <form action="/personalizeDesign/saveDesign">
        <div class="dropdown" style="margin:0 auto; width:500px;">
            <span style="font-size: x-large;">Pour quel bâtiment souhaiteriez vous appliquer cette simulation ?</span> <br><br>
            <select id="building" name="buildings" class="btn btn-primary">
                <option value="*">Choisissez un bâtiment</option>
                <th:block th:each="building : ${buildings}">
                    <option value="${building.name_building}">
                        <span th:text="${building.name_building}"></span>
                    </option>
                </th:block>
            </select>
        </div>
        <br><br>
        <div class="dropdown" style="margin:0 auto; width:500px;">
            <span style="font-size: x-large;">Pour quel étage souhaiteriez vous appliquer cette simulation ?</span> <br><br>
            <select id="floors" name="floors" class="btn btn-primary">
            </select>
        </div>
        <br><br>
        <button type=" submit" class="btn btn-primary" style="font-size: large;">Enregistrer la configration</button>
    </form>
    <br><br>
<!--    <button type="button" class="btn btn-primary" onclick="saveDesign();">Enregistrer cette configration</button>-->
</div>>

<script type="text/javascript" th:src="@{/architectureStatic/getting-floors.js}"></script>

<script>
    var plan0 = new Muuri('.plan0', {dragEnabled: false, layout: {vertical: true}});
</script>

</body>

</html>