<!doctype html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Citizens</title>
    <link rel="icon" type="image/png" th:href="@{/image/icon.png}"/>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/styles/uicons.css}"/>
    <link rel="stylesheet" th:href="@{/styles/global.css}"/>
    <link rel="stylesheet" th:href="@{/styles/user.css}"/>
    <link rel="stylesheet" th:href="@{/architectureStatic/architecture-css.css}">
    <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="https://img.icons8.com/ultraviolet/100/000000/mac-os--v1.png">
    <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
</head>

<body class="background">

<noscript>
    <h2>Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable Javascript and reload this page!</h2>
</noscript>

<header>
    <div class="navbar center-all">
        <div class="center-all">
            <img th:src="@{/image/icon.png}" class="icon"/>
            <h1 class="name">Citizens</h1>
        </div>
        <div class="center-all">
            <h2 class="name">Services Généraux</h2>
        </div>
        <div class="right-navbar center-all">
            <a href="/myConfigurations">Configurations Sauvegardées</a>
            <a href="/login">
                <i class="fi fi-rr-apps"></i>
            </a>
        </div>
    </div>
</header>

<br>
<p style="text-align: center;"><span style="font-size: xx-large;">Vous avez choisie la configuration Parallèle:</span></p>

<div class="plan0">
    <div class="item toilet">
        <div class="item-content">T1F</div>
    </div>
    <div class="item corridor31">
        <div class="item-content"></div>
    </div>
    <div class="item openSpace3">
        <div class="item-content">Espaces ouverts</div>
    </div>
    <div class="item corridor32">
        <div class="item-content"></div>
    </div>
    <div class="item toilet">
        <div class="item-content">T2F</div>
    </div>
    <div class="item corridor33">
        <div class="item-content"></div>
    </div>
    <div class="item individualRoom3">
        <div class="item-content">Salles individuelles</div>
    </div>
    <div class="item corridor34">
        <div class="item-content"></div>
    </div>
    <div class="item elevator">
        <div class="item-content">A1</div>
    </div>
    <div class="item elevator">
        <div class="item-content">A2</div>
    </div>
    <div class="item meetingRoom3">
        <div class="item-content ">Salles de réunion</div>
    </div>
    <div class="item toilet">
        <div class="item-content">T1H</div>
    </div>
    <div class="item toilet">
        <div class="item-content">T2H</div>
    </div>
    <div class="item corridor35">
        <div class="item-content"></div>
    </div>
    <div class="item office3">
        <div class="item-content">Bureaux</div>
    </div>
</div>

<form method="get" action="/personalizeDesign/designParallel/display">
    <p style="text-align: center; font-size: large;">
        Espaces ouverts :
        <select name ="os" id="os">
            <option value="">Choisissez une valeur</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </p>
    <p style="text-align: center; font-size: large;">
        Bureaux :
        <select name ="of" id="of">
            <option value="">Choisissez une valeur</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
    </p>
    <p style="text-align: center; font-size: large;">
        Salles de réunion :
        <select name ="mr" id="mr">
            <option value="">Choisissez une valeur</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </p>
    <p style="text-align: center; font-size: large;">
        Salles individuelles :
        <select name ="ir" id="ir">
            <option value="">Choisissez une valeur</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
    </p>
    <br><br>
    <p style="text-align: center;">
        <input type="submit" class="btn btn-primary" value="Simuler le plan" />
    </p>
</form>

<script>
    var plan0 = new Muuri('.plan0', {dragEnabled: false, layout: {vertical: true}});
</script>

</body>

</html>