<!doctype html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Citizens</title>
    <link rel="icon" type="image/png" th:href="@{/image/icon.png}"/>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/styles/uicons.css}"/>
    <link rel="stylesheet" th:href="@{/styles/global.css}"/>
    <link rel="stylesheet" th:href="@{/styles/user.css}"/>
    <link rel="stylesheet" th:href="@{/architectureStatic/architecture-css.css}">
    <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
    <script type="text/javascript">
        function personalizeDesignPanoramic() {
            window.location.href = "http://172.31.249.240:9001/personalizeDesign/designPanoramic"
        }
        function personalizeDesignSquare() {
            window.location.href = "http://172.31.249.240:9001/personalizeDesign/designSquare"
        }
        function personalizeDesignParallel() {
            window.location.href = "http://172.31.249.240:9001/personalizeDesign/designParallel"
        }
    </script>
</head>

<body class="background">

<noscript>
    <h2>Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable Javascript and reload this page!</h2>
</noscript>

<header>
    <div class="navbar center-all">
        <div class="center-all">
            <img th:src="@{/image/icon.png}" class="icon"/>
            <h1 class="name">Citizens</h1>
        </div>
        <div class="center-all">
            <h2 class="name">Services Généraux</h2>
        </div>
        <div class="right-navbar center-all">
            <a href="/myConfigurations">Configurations Sauvegardées</a>
            <a href="/login">
                <i class="fi fi-rr-apps"></i>
            </a>
        </div>
    </div>
</header>

<br><br>
<p style="text-align: center;"><span style="font-size: xx-large;">Veuillez selectionner un modèle :</span></p>
<br><br>

<table align="center">
    <tbody>
    <tr style="border:0px">
        <td>
            <div class="plan1">
                <div class="item toilet">
                    <div class="item-content">T1F</div>
                </div>
                <div class="item corridor11" style="background: lightgray; width: 3%; height: 100%; border: 0px;">
                    <div class="item-content"></div>
                </div>
                <div class="item corridor12" style="background: lightgray; width: 84%; height: 7%; border: 0px;">
                    <div class="item-content"></div>
                </div>
                <div class="item corridor13" style="background: lightgray; width: 3%; height: 100%; border: 0px;">
                    <div class="item-content"></div>
                </div>
                <div class="item toilet">
                    <div class="item-content">T2F</div>
                </div>
                <div class="item openSpace1" style="background: orange; width:40%; height:37%; border:0px;">
                    <div class="item-content">Espaces ouverts</div>
                </div>
                <div class="item corridor16" style="background: lightgray; width:4%; height:37%; border:0px;">
                    <div class="item-content"></div>
                </div>
                <div class="item office1" style="background:red; width:40%; height:37%; border:0px;">
                    <div class="item-content">Bureaux</div>
                </div>
                <div class="item elevator">
                    <div class="item-content">A1</div>
                </div>
                <div class="item corridor15" style="background: lightgray; width: 84%; height: 12%; border: 0px;">
                    <div class="item-content"></div>
                </div>
                <div class="item elevator">
                    <div class="item-content">A2</div>
                </div>
                <div class="item toilet">
                    <div class="item-content">T1H</div>
                </div>
                <div class="item meetingRoom1" style="background: coral; width: 40%; height: 37%; border: 0px;">
                    <div class="item-content">Salles de réunion</div>
                </div>
                <div class="item corridor17" style="background: lightgray; width: 4%; height: 37%; border: 0px;">
                    <div class="item-content"></div>
                </div>
                <div class="item individualRoom1" style="background: hotpink; width: 40%; height: 37%; border: 0px;">
                    <div class="item-content">Salles individuelles</div>
                </div>
                <div class="item toilet">
                    <div class="item-content">T2H</div>
                </div>
                <div class="item corridor14" style="background: lightgray; width: 84%; height: 7%; border: 0px;">
                    <div class="item-content"></div>
                </div>
            </div >
        </td>
        <td>
            <div class="plan2">
                <div class="item toilet">
                    <div class="item-content">T1F</div>
                </div>
                <div class="item openSpace2">
                    <div class="item-content">Espaces ouverts</div>
                </div>
                <div class="item toilet">
                    <div class="item-content">T2F</div>
                </div>
                <div class="item corridor21">
                    <div class="item-content"></div>
                </div>
                <div class="item corridor24">
                    <div class="item-content"></div>
                </div>
                <div class="item individualRoom2">
                    <div class="item-content ">Salles individuelles</div>
                </div>
                <div class="item corridor23">
                    <div class="item-content"></div>
                </div>
                <div class="item elevator">
                    <div class="item-content">A1</div>
                </div>
                <div class="item elevator">
                    <div class="item-content">A2</div>
                </div>
                <div class="item meetingRoom2">
                    <div class="item-content">Salles de réunion</div>
                </div>
                <div class="item toilet">
                    <div class="item-content">T1H</div>
                </div>
                <div class="item toilet">
                    <div class="item-content">T2H</div>
                </div>
                <div class="item corridor22">
                    <div class="item-content"></div>
                </div>
                <div class="item office2">
                    <div class="item-content">Bureaux</div>
                </div>
            </div>
        </td>
        <td>
            <div class="plan3">
                <div class="item toilet">
                    <div class="item-content">T1F</div>
                </div>
                <div class="item corridor31">
                    <div class="item-content"></div>
                </div>
                <div class="item openSpace3">
                    <div class="item-content">Espaces ouverts</div>
                </div>
                <div class="item corridor32">
                    <div class="item-content"></div>
                </div>
                <div class="item toilet">
                    <div class="item-content">T2F</div>
                </div>
                <div class="item corridor33">
                    <div class="item-content"></div>
                </div>
                <div class="item individualRoom3">
                    <div class="item-content">Salles individuelles</div>
                </div>
                <div class="item corridor34">
                    <div class="item-content"></div>
                </div>
                <div class="item elevator">
                    <div class="item-content">A1</div>
                </div>
                <div class="item elevator">
                    <div class="item-content">A2</div>
                </div>
                <div class="item meetingRoom3">
                    <div class="item-content ">Salles de réunion</div>
                </div>
                <div class="item toilet">
                    <div class="item-content">T1H</div>
                </div>
                <div class="item toilet">
                    <div class="item-content">T2H</div>
                </div>
                <div class="item corridor35">
                    <div class="item-content"></div>
                </div>
                <div class="item office3">
                    <div class="item-content">Bureaux</div>
                </div>
            </div>
        </td>
    </tr>
    <tr style="text-align: center">
        <td><button type="button" class="btn btn-primary" onclick="personalizeDesignPanoramic()"> Modèle Panoramique </button></td>
        <td><button type="button" class="btn btn-primary" onclick="personalizeDesignSquare()"> Modèle Carré </button></td>
        <td><button type="button" class="btn btn-primary" onclick="personalizeDesignParallel()"> Modèle Parallèle </button></td>
    </tr>
    </tbody>
</table>

<br><br>

<p style="text-align: center;"><span style="font-size: large;"> T*F : Toilette / Vestiaire Femme </span></p>
<p style="text-align: center;"><span style="font-size: large;"> T*H : Toilette / Vestiaire Homme </span></p>
<p style="text-align: center;"><span style="font-size: large;"> A* : Ascenceurs / Escaliers </span></p>
<p style="text-align: center;"><span style="font-size: large;"> C* : Couloirs </span></p>

<script>
    var plan1 = new Muuri('.plan1', {dragEnabled: false, layout: {vertical: true}});
    var plan2 = new Muuri('.plan2', {dragEnabled: false, layout: {vertical: true}});
    var plan3 = new Muuri('.plan3', {dragEnabled: false, layout: {vertical: true}});
</script>

</body>
</html>