<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Restauration</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

</head>

<body>

<!-- NAV BAR -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Page 1</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Page 2</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownServices" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                    <a class="dropdown-item" href="/chat">Chat</a>
                    <a class="dropdown-item" href="/cafeteria">Restauration</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Architecture
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item" href="/planAcces">Plan d'accès</a>
                    <a class="dropdown-item" href="/guidage">Se faire guider</a>
                    <a class="dropdown-item" href="/designInterieur">Design intérieur (Admin)</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Salles de réunion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/sallesReunion">Services généraux</a>
                    <a class="dropdown-item" href="#">Ecran salle de réunion</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- NAV BAR -->
<div class="title-page">Reservation</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-md-auto">
<form name="menu_form" class="row g-3 needs-validation .col-lg-"  action="#" method="post" th:action="@{/cafeteria_reservation/saved}"  novalidate>
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Name</label>
        <input  name="name" type="text" class="form-control" id="validationCustom01" value="Mark"  required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationCustomUsername" class="form-label">Menu Number</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">menu n°</span>
            <input name="menu_number" type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" th:value="${num_menu}" required>
            <div class="invalid-feedback">
                Please choose a menu.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label for="validationCustom03" class="form-label">Some allergies ?</label>
        <input name="note" type="text" class="form-control" id="validationCustom03" >
        <div class="invalid-feedback">
            Please provide .
        </div>
    </div>
    <div class="col-md-3">
        <label for="validationCustom04" class="form-label">Hour</label>
        <select name="time_slot" class="form-select" id="validationCustom04"  required>
            <option selected disabled value="">Choose time slot</option>
            <option>12h00-12H30</option>
            <option>12h30-13h00</option>
            <option>13h00-13h30</option>
            <option>13H30-14h00</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid time slot.
        </div>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck"  required>
            <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>
    </div>
    <div class="col-12">
        <a href="/cafeteria_reservation/saved" class="btn btn-link btn-sm mb-3">
        <button class="btn btn-primary" type="submit">Submit form</button>
        </a>
    </div>
</form>

        </div>
        <div class="col col-lg-2">
        </div>
    </div>
</div>







<script type="text/javascript" th:src="@{/salles_reunion_js.js}" th:inline="javascript"></script>
<link th:href="@{/salles_reunion_css.css}" rel="stylesheet"/>
</body>

</html>