<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Configuration des pièces</title>
    <link rel="stylesheet" type="text/css" href="eclairage.css">
</head>
<body>
<p style="margin-bottom : 50px">  </p><br>

<form>
    <div align="center" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
        <label for="pet-select"> Choississez l'appareil à configurer </label><br>

        <select name="equipement" id="pet-select" size="1" style="margin-top:15px; margin-bottom:15px">

            <option value = "">equipement</option>
            <option th:each="equipment : ${listequip}"
            th:value="${equipment}"
            th:utext="${equipment}"/>

        </select><br>

        <a  class="btn btn-primary" role="button" style="margin-left:100px"><button type="button" class="btn btn-primary">Valider</button></a>


    </div>
</form>

</body>
</html>