<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Citizens</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"/>

</head>
<body>
<!-- NAV BAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="https://mallmaverick.imgix.net/web/property_managers/1/properties/726/stores/citizen_watch_company_store/20200316201327/__asset_get_105347" alt=""  height="50" />
    </a>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Monitor">Monitorer</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/listRooms">Configurer</a>
            </li>
            <!--<li class="nav-item active">
                <a class="nav-link" href="/configManual">Mes Equipements</a>
            </li>-->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Architecture
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item" href="/planAcces">Plan d'accès</a>
                    <a class="dropdown-item" href="/guidage">Se faire guider</a>
                    <a class="dropdown-item" href="/designInterieur">Design intérieur (Admin)</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Salles de réunion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/sallesReunion">Services généraux</a>
                    <a class="dropdown-item" href="#">Ecran salle de réunion</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- NAV BAR -->

<div style="text-align: center;" class="container my-2">
    <div>
        <h2>LES EQUIPEMENTS DE LA SALLE</h2>
        <h2 th:text="${id}"></h2>
    </div>
    <table id="equipment" border="1" class="table table-striped table responsive-md">
        <thead>
        <tr>
            <!--<th bgcolor="bleu">Statut</th>
            <th bgcolor="bleu">Icone</th>
            <th bgcolor="bleu">Valeur</th>
            <th bgcolor="bleu">Mesure</th>
            <th bgcolor="bleu">Consommation</th>
            <th bgcolor="red">Configurer</th>-->
            <th bgcolor="bleu">Equipement N°</th>
            <th bgcolor="bleu">Type</th>
            <th bgcolor="bleu">Statut</th>
            <th bgcolor="bleu">Value</th>
            <th bgcolor="bleu">Configurer</th>
            <th bgcolor="red">Automatiser</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="equipment : ${equipments}">
            <td th:text="${equipment.id_equipment}"></td>
            <td th:text="${equipment.type}"></td>
            <td th:text="${equipment.statut}"></td>
            <td th:text="${equipment.value}"></td>
            <td>
                <form th:action="@{/setEquipmentValue/{id_equipment}(id_equipment=${equipment.id_equipment})}" method="post" name="changevalue">
                    <input type="hidden" th:value="${id}" name="id_room" id="id_room">
                    <input type="range" class="form-range" min="0" max="5" step="1" name="changevalue" id="changevalue" th:value="${equipment.value}" oninput="this.nextElementSibling.value = this.value">
                    <output th:text="${equipment.value}"></output>
                    <button type="submit" class="btn btn-primary">Confirmer</button>
                </form>
            </td>
            <td>
                <form th:action="@{/setEquipmentAuto/{id_equipment}(id_equipment=${equipment.id_equipment})}" method="post" name="changetypemode">
                    <input type="hidden" th:value="${id}" name="id_room" id="id_room1">
                    <div th:switch="${equipment.type_mode}">
                        <button th:case="Automatique"  class="btn btn-success" disabled>Automatisé</button>
                        <button th:case="Manuel" type="submit" class="btn btn-primary">Automatiser</button>
                    </div>
                </form>
            </td>
<!--
            <td th:text="${equipment.icon}"></td>
            <td th:text="${equipment.value}"></td>
            <td th:text="${equipment.measure}"></td>
            <td th:text="${equipment.consumption}"></td>-->
        </tr>
        </tbody>
    </table>

    <br/>

</div>

</body>
</html>