<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <style>
    /* RESET CSS */
    *
    {
    text-align: center;
    }
    table
    {
    border-collapse: collapse; /* Les bordures du tableau seront collées */
    margin: auto;
    }
    </style>
    <title>Attribution</title>
</head>
<body>
<h1>Consommation par jour de toute la SmartCity</h1>
<br>
<table border="1" class="table table-striped table responsive-md">
    <thead>
    <tr>
        <th bgcolor="bleu">date</th>
        <th bgcolor="bleu">consoday</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="test : ${consumption}">
        <td th:text="${test.date}"></td>
        <td th:text="${test.consoday}"></td>
    </tr>

    </tbody>
</table>
</body>
</html>