<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Refresh" content="20">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"/>
    <title>Mix énergétique actuel</title>
</head>
<body>
<div align="center" class="container my-2">

    <h1>Mix énergétique </h1>
    <table border="1" class="table table-striped table responsive-md">
        <tr>
            <th bgcolor="bleu">Energie</th>
            <th bgcolor="bleu">Proportion</th>
        </tr>
        <tr>
            <th>Eolienne</th>
            <td><span th:text="${eolienne}"></span>%</td>
        </tr>
        <tr>
            <th>Solaire</th>
            <td><span th:text="${panneauSolaire}"></span>%</td>
        </tr>
        <tr>
            <th>Hydraulique</th>
            <td><span th:text="${hydraulique}"></span>%</td>
        </tr>
    </table>

    <h1> </h1>

    <h1>Mix énergétique par usine</h1>
    <table border="1" class="table table-striped table responsive-md">
        <tr>
            <th bgcolor="aqua">Usine</th>
            <th bgcolor="aqua">Energie</th>
            <th bgcolor="aqua">Proportion</th>
            <th bgcolor="aqua">Production en W</th>
            <th bgcolor="aqua">Nb Equip Actif</th>
            <th bgcolor="aqua">Capacité utilisée</th>
        </tr>

        <tr th:each="mix : ${listMixEnBySite}">
            <td th:text="${mix.address}"></td>
            <td th:text="${mix.name_building}"></td>
            <td><span th:text="${mix.mix}"></span>%</td>
            <td th:text="${mix.production}"></td>
            <td><span th:text="${mix.active_equip}"></span>/<span th:text="${mix.number_equip}"></span></td>
            <td><span th:text="${mix.capacity_used}"></span>%</td>
        </tr>

    </table>
</div>
</body>
</html>