<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Affichage des pièces</title>
    <link rel="stylesheet" type="text/css" href="display.css">
    <p style="text-align:center"> Liste des pièces disponibles</p><br>
</head>
<body>

<div style="display:flex">
    <div class="box" style="background-color:SteelBlue">&nbsp;
        <div style="margin-bottom:30px"> Chambre</div>
        <a th:href="@{ /eclaire}" class="btn btn-primary" role="button" style="display: flex ">

            <button type="button" th:text = "${nameEquip}"  class="btn btn-dark"></button>


        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" th:text = "${nameEquipe}" class="btn btn-dark"></button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" th:text = "${nameRadiateur}" class="btn btn-dark">Radiateur</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" th:text = "${nameFenetre}" class="btn btn-dark"></button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Store</button>
        </a>
    </div>

    <div class="box" style="background-color:DarkSeaGreen">&nbsp;
        <div style="margin-bottom:30px"> Salon</div>
        <a th:href="@{/eclaire}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Eclairage</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Climatisation</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Radiateur</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Fenêtre</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Store</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Télévision</button>
        </a>

    </div>
</div>
<div style="display:flex">
    <div class="box" style="background-color:DarkGray">&nbsp;
        <div style="margin-bottom:30px">Cuisine</div>
        <a th:href="@{/eclaire}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Eclairage</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Climatisation</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Radiateur</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Fenêtre</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Store</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Lave-vaiselle</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Four</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Table-cuisson</button>
        </a>

    </div>
    <div class="box">&nbsp;
        <div style="margin-bottom:30px"> Salle de bain</div>
        <a th:href="@{/eclaire}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Eclairage</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Climatisation</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Radiateur</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Fenêtre</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Store</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Lave-linge</button>
        </a>
        <a th:href="@{/piece}" class="btn btn-primary" role="button" style="display: flex ">
            <button type="button" class="btn btn-dark">Aspirateur-robot</button>
        </a>


    </div>
</div>


</body>
</html>