<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Configuration des pièces</title>
    <link rel="stylesheet" type="text/css" href="eclairage.css">
</head>
<body>
<p style="text-align:center"> Choississez le mode de configuration </p><br>

<div align="center">
    <a th:href="@{/conf}" class="btn btn-info" role="button" style="margin-left:100px; background-color">
        <button style="background-color:rgb(128, 128, 128)" type="button"  class="btn btn-info"> Configuration automatique</button>
    </a>
    <a th:href="@{/conf}" class="btn btn-info" role="button" style="margin-left:100px">
        <button style="background-color:rgb(128, 128, 128)" type="button" class="btn btn-info"> Configuration manuelle</button>

    </a>
</div>


</body>
</html>