<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="20">
    <title>Equipment By Consumption</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"/>

</head>
<body>
<h2 th:text="'Les équipements et les générateurs du Batiment ' + ${id_b}" ></h2>

<h3 class="tableau1">Liste des Equipements avec leurs consommations</h3>
<table id="test" border="1" class="table table-striped table responsive-md">
    <thead>
    <tr>
        <th>numéro de l'équipement</th>
        <th>numéro de la salle</th>
        <th>type de l'équipement</th>
        <th>consommation de l'équipement</th>
    </tr>
    </thead>
    <tbody>
    </tr>
    <tr th:each="equip: ${equipmentWithConsumption}">
        <td><span th:text="${equip.id_equipment}"> numéro de l'équipement </span></td>
        <td><span th:text="${equip.id_room}"> numéro de la salle </span></td>
        <td><span th:text="${equip.type}"> type de l'équipement </span></td>
        <td><span th:text="${equip.value}"> consommation de l'équipement </span></td>

    </tr>
    </tbody>
</table>
<h3 class="tableau2">Liste des centrals avec leurs productions</h3>
<table id="test2" border="1" class="table table-striped table responsive-md">
    <thead>
    <tr>
        <th>numéro de la central</th>
        <th>type de central</th>
        <th>production de la central</th>
    </tr>
    </thead>
    <tbody>
    </tr>
    <tr th:each="central: ${centralWithProduction}">
        <td><span th:text="${central.id_central}"> numéro de la central </span></td>
        <td><span th:text="${central.type}"> type de la central </span></td>
        <td><span th:text="${central.value}"> production de la central </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>