<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="20">
    <title>Equipement de la Salle </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"/>

</head>
<body>
<h2 th:text="'Les équipements et les générateurs de la salle ' + ${id_r}" ></h2>
<h3 class="h2">Liste des Equipement avec leurs consommations</h3>
<table id="test" border="1" class="table table-striped table responsive-md">
    <thead>
    <tr>
        <th>numéro de l'équipement</th>
        <th>numéro de la salle</th>
        <th>type de l'équipement</th>
        <th>consommation de l'équipement</th>
    </tr>
    </thead>
    <tbody>
    </tr>
    <tr th:each="equip: ${equipmentWithConsumption2}">
        <td><span th:text="${equip.id_equipment}"> numéro de l'équipement </span></td>
        <td><span th:text="${equip.id_room}"> numéro de la salle </span></td>
        <td><span th:text="${equip.type}"> type de l'équipement </span></td>
        <td><span th:text="${equip.value}"> consommation de l'équipement </span></td>

    </tr>
    </tbody>
</table>
<h4 th:text="'La consommation totale actuelle est de ' + ${dp}+' Watts'" ></h4>

</body>
</html>