<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Equipements</title>
    <style>
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
  text-align: center;
}

a{
text-decoration: none;
color : black;
}
.style{
align: center;
}

.table{
 margin-left: auto;
 margin-right: auto;
 margin-top: 10px;
 width: 60%;
 table-layout: auto;
 table-layout: fixed;
}

.name{
text-align: center;
margin-top: 30px;
}

    </style>
</head>
<body>

<div class="name" th:text="${nameRoom}"></div>

<div class="container my-2" align="center">
    <div class="row">
        <div class="col-12">
            <table border="1" class="table">
                <thead>
                <tr>
                    <th style="vertical-align: middle" scope="col">Equipements</th>
                    <th style="vertical-align: middle" scope="col">Statut</th>
                    <th style="vertical-align: middle" scope="col">Mode équipement</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="DWPEquipment : ${listEquipment}">
                    <td th:if="${DWPEquipment.type} == 'lampe'"><a
                            th:href="@{'/configurationLampe?id_equipment=' + ${DWPEquipment.id_equipment}}"
                            class="link-dark"> <span th:text="${DWPEquipment.type}"></span> </a></td>
                    <td th:unless="${DWPEquipment.type} == 'lampe'"><span th:text="${DWPEquipment.type}"></span></td>
                    <td th:text="${DWPEquipment.statut}"></td>
                    <td th:text="${DWPEquipment.type_mode}"></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>