<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/image/icon.png}"/>
    <link rel="stylesheet" th:href="@{/styles/global.css}"/>
    <title>Historique du bâtiment</title>
</head>
<body>

<noscript>
    <h2>Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable Javascript and reload this page!</h2>
</noscript>
<header>
    <div class="navbar center-all">
        <div class="center-all">
            <img th:src="@{/image/icon.png}" class="icon" alt="" src=""/>
            <h1 class="name">Citizens</h1>
        </div>
        <a th:href="@{/}">
            <i class="fi fi-rr-apps"></i>
        </a>
    </div>
</header>

<form id="first" action="#" th:action="@{/ConsumptionByIdBuilding/}" th:object="${objectForModel}"  method="post">
    <h1>Historique</h1>
    <div id="container">
        <label><b>Date de début de l'historique</b></label>
        <label>
            <object name="dateB" th:text="${objectForModel.getDateB().getDate()}"></object>
            <input name="objectForModel" placeholder="AAAA/MM/JJ/HH/mm/ss" required type="text" th:field="${dateB}">
        </label>
    </div>
    <div id="container2">
        <label><b>Date de fin de l'historique</b></label>
        <label>
            <object name="dateE" th:text="${objectForModel.getDateE().getDate()}"></object>
            <input name="dateE" placeholder="AAAA/MM/JJ/HH/mm/ss" required type="text" th:field="${dateE}">
        </label>
    </div>
    <input type="submit" id='submit' value='Confirmer' >
</form>

</body>
</html>