<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <title>Test Web Application</title>
</head>
<body>
<h2 class="h2">Liste des Personnes</h2>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>Nom</th>
    </tr>
    </thead>
    <tbody>
    </tr>
    <tr th:each="test: ${tests}">
        <td><span th:text="${test.id}"> id </span></td>
        <td><span th:text="${test.name}"> Nom </span></td>


    </tr>
    </tbody>
</table>

<h1>Register</h1>
<form action="#" method="post" th:action="@{/saveTest}" th:object="${test}">
    <label>id:</label> <input name="id" type="text" th:field="*{id}"/>
    <label>Name:</label> <input name="name" type="text" th:field="*{name}"/>
    <input type="submit" value="Ajouter"/>
</form>


</body>
</html>