<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/image/icon.png}"/>
    <link rel="stylesheet" th:href="@{/styles/global.css}"/>
    <title>Page de l'habitant</title>
</head>
<body>
<noscript>
    <h2>Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable Javascript and reload this page!</h2>
</noscript>
<header>
    <div class="navbar center-all">
        <div class="center-all">
            <img th:src="@{/image/icon.png}" class="icon" alt="" src=""/>
            <h1 class="name">Citizens</h1>
        </div>
        <a th:href="@{/}">
            <i class="fi fi-rr-apps"></i>
        </a>
    </div>
</header>



</body>
</html>