<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Citizens</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"/>

</head>

<body>

<!-- NAV BAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="https://mallmaverick.imgix.net/web/property_managers/1/properties/726/stores/citizen_watch_company_store/20200316201327/__asset_get_105347" alt=""  height="50" />
    </a>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/monitor">Monitorer</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/listRooms">Configurer</a>
            </li>
           <!-- <li class="nav-item active">
                <a class="nav-link" href="/configManual">Mes Equipements</a>
            </li>-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Architecture
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item" href="/accessMap">Plan d'accès</a>
                    <a class="dropdown-item" href="/guidanceOption">Se faire guider</a>
                    <a class="dropdown-item" href="/personalizeDesign">Design intérieur (Admin)</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Salles de réunion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/sallesReunion">Services généraux</a>
                    <a class="dropdown-item" href="#">Ecran salle de réunion</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- NAV BAR -->


<div align="center" class="container my-2">
    <h1>Liste des personnes enregistrées</h1>
    <table id="test" border="1" class="table table-striped table responsive-md">
        <thead>
        <tr>
            <th bgcolor="bleu">id</th>
            <th bgcolor="bleu">firstname</th>
            <th bgcolor="bleu">lastname</th>
            <th bgcolor="red">Operation</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="test : ${tests}">
            <td th:text="${test.id}"></td>
            <td th:text="${test.firstname}"></td>
            <td th:text="${test.lastname}"></td>
            <td>
                <a th:href="@{/deleteTest/{id}(id=${test.id})}" class="btn btn-link btn-sm mb-3"> Supprimer </a></td>

        </tr>

        </tbody>
    </table>
    <br/>
    <a th:href="@{/showNewTestForm}" class="btn btn-link btn-sm mb-3"> Ajouter/Modifier</a>



</div>


</body>
</html>