<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Test </title>


</head>

<body>
<div align="center" class="container my-2">

    <h1>Liste des personnes enregister</h1>
    <table id="test" border="1" class="table table-striped table responsive-md">
        <thead>
        <tr>
            <th bgcolor="bleu">id</th>
            <th bgcolor="bleu">firstname</th>
            <th bgcolor="bleu">lastname</th>
            <th bgcolor="red">Operation</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="test : ${tests}">
            <td th:text="${test.id}"></td>
            <td th:text="${test.firstname}"></td>
            <td th:text="${test.lastname}"></td>
            <td>
                <a th:href="@{/deleteTest/{id}(id=${test.id})}" class="btn btn-link btn-sm mb-3"> Supprimer </a></td>

        </tr>

        </tbody>
    </table>
    <br/>
    <a th:href="@{/showNewTestForm}" class="btn btn-link btn-sm mb-3"> Ajouter </a>



</div>


</body>
</html>