<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Configuration Manuelle</title>
    <style>
      .test {
   border-radius: 10px;
 text-align: center;
   background-color: #A4A4A4;
    height:140px;
    width : 30%;
  display: flex;
  flex-direction:column;
  align-items: center;
  border :solid;
  margin-top: 50px ;
  margin-left: 35%;
}
.btn.btn-info {

 text-align: center;
  width: 90px;
  margin-top: 10px;
  background-color : #68DBDF;
  border-radius: 4px;
  margin-bottom: 1px;
  display : inline-block;
}
h3 {
  margin-right: 80%;
  margin-top: 2px;
}







    </style>
</head>
<body>
<div class="style">
    <div class="test">

        <h3>Lampe</h3>
        Veuillez choisir votre opération

        <form method="get" action="/form">

            <input id="choose1" type="radio" value="ON" class="btn btn-info" name="chooseStatut">
            <input id="statut" type="hidden" value="Manuel" name="type_mode">
            <label for="choose1">ON</label>
            <input id="id_equipment" type="hidden" th:value="${id_equipment}" name="id_equipment">
            <input id="choose2" type="radio" value="OFF" class="btn btn-info" name="chooseStatut">
            <label  for="choose2">OFF</label> <br/> <br/>


            <input  type="submit" value="Valider"/>
        </form>

        <form>


        </form>


    </div>
</div>

</body>
</html>