<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center" class="container my-2">

    <hr>
    <h2>Formulaire d'enregistrement </h2>
    <form action="#" method="post" th:action="@{/saveTest}" th:object="${test}">
        <label>id:</label> <input name="id" type="text" th:field="*{id}"/>
        <label>firstname:</label> <input name="firstname" type="text" th:field="*{firstname}"/>
        <label>lastname:</label> <input name="lastname" type="text" th:field="*{lastname}"/>

        <input type="submit" value="Sauvegarder"/>

    </form>

    <br/>

</div>
</body>
</html>