<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Citizens</title>
    <link rel="icon" type="image/png" th:href="@{/image/icon.png}"/>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/styles/uicons.css}"/>
    <link rel="stylesheet" th:href="@{/styles/global.css}"/>
    <link rel="stylesheet" th:href="@{/styles/smartgrid.css}"/>
    <link rel="stylesheet" th:href="@{/styles/user.css}"/>
</head>
<body class="background">

<noscript>
    <h2>Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable Javascript and reload this page!</h2>
</noscript>

<header>
    <div class="navbar center-all">
        <div class="center-all">
            <img th:src="@{/image/icon.png}" class="icon"/>
            <h1 class="name">Citizens</h1>
        </div>
        <div class="right-navbar center-all">
            <a href="/Mix">Mix Energétique</a>
            <a href="/principal">Activité de la SmartCity</a>
            <a th:href="@{/login}">
                <i class="fi fi-rr-apps"></i>
            </a>
        </div>

    </div>
</header>

<section class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="corner item center-all">
                        <i class="cursor refresh-event fi fi-rr-refresh"></i>
                        <span class="clock-event text-dots"></span>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="corner item center-all">
                        <span>bilan énergétique de la ville :</span>
                        <span th:text="${balance}" class="socket-city-energy-balance"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="corner item">
                        <ul class="weather-list">
                            <li class="vcenter"><i class="fi fi-rr-thermometer-half"></i><span>Température (°C)</span></li>
                            <li class="vcenter"><i class="fi fi-rr-clouds"></i><span>Couverture nuageuse (%)</span></li>
                            <li class="vcenter"><i class="fi fi-rr-wind"></i><span>Vitesse du vent (km/h)</span></li>
                            <li class="vcenter"><i class="fi fi-rr-raindrops"></i><span>Précipitation (mm)</span></li>
                            <li class="vcenter"><i class="fi fi-rr-sun"></i><span>Évaporation (%)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row socket-central">
                <div th:each="central : ${centrals}" class="col-md-12 col-sm-12 col-xs-12">
                    <div class="corner item">
                        <div class="center-all item-central">
                            <div th:switch="${central.type}" class="center-all">
                                <i th:case="'solaire'" class="fi fi-rr-sun"></i>
                                <i th:case="'eolienne'" class="fi fi-rr-wind"></i>
                                <i th:case="'hydraulique'" class="fi fi-rr-raindrops"></i>
                                <i th:case="'thermique'" class="fi fi-rr-flame"></i>
                                <span th:text="${central.name}"></span>
                            </div>
                            <span th:text="${#numbers.formatDecimal(central.capacity, 3, 2, 'POINT')} + '/' + ${#numbers.formatDecimal(central.maxCapacity, 3, 2, 'POINT')} + 'W'" class="text-dots"></span>
                        </div>
                        <div class="center-all">
                            <span th:text="${central.address}"></span>
                            <span th:text="${#numbers.formatDecimal(central.production, 3, 2, 'POINT')} + 'W'" class="flash text-dots"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="row socket-district">
                <div th:each="district : ${districts}" class="col-md-4 col-sm-4 col-xs-12">
                    <div class="corner item">
                        <div class="center-all item-header">
                            <span class="text-dots" th:text="${district.name}"></span>
                            <i th:attr="data-id=${district.id}, data-name=${district.name}, data-balance=${district.production - district.consumption}" class="cursor see-event fi fi-rr-eye"></i>
                        </div>
                        <div>
                            <span class="text-dots" th:text="'Consommation : ' + ${#numbers.formatDecimal(district.consumption, 3, 2, 'POINT')} + 'W'"></span>
                            <span class="text-dots" th:text="'Production : ' + ${#numbers.formatDecimal(district.production, 3, 2, 'POINT')} + 'W'"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--footer>
    <span>Footer</span>
</footer-->

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/global.js}"></script>
<script type="text/javascript" th:src="@{/scripts/smartgrid.js}"></script>

</body>
</html>