.item {
    padding: 20px;
    margin-bottom: 20px;
    background: var(--color-white);
}

.item .item-header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-grey);
}

.item-central {
    margin-bottom: 5px;
}

.item-central i {
    margin-right: 5px;
}

.weather-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.weather-list li {
    margin-bottom: 5px;
}

.weather-list li i {
    margin-right: 5px;
}

.text-dots {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.swal2-html-container {
    height: 400px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.swal2-html-container table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.swal2-html-container table thead {
    position: sticky;
    top: 0;
    background: var(--color-primary);
    color: var(--color-white);
}

.swal2-html-container table tbody tr:nth-child(even) {
    background: var(--color-secondary);
}

.swal2-html-container table th, td {
    padding: 10px;
}

.swal2-loader {
    border-color: var(--color-green-5) transparent var(--color-green-5) transparent !important;
}

.rotate {
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    100% { transform: rotate(360deg); }
}

.flash  {
    animation: flash 1s infinite;
}

@keyframes flash {
    0%  { opacity: 1; }
    40% { opacity: 0; }
    100%{ opacity: 1; }
}