.background {
    background: bottom -25% right -25% no-repeat url('../image/background.png'),
    linear-gradient(-45deg, rgba(7,29,9,1) 0%, rgba(143,210,122,1) 50%, rgba(187,238,198,1) 100%);
    background-attachment: fixed;
}

.item {
    padding: 20px;
    margin-bottom: 20px;
    background: var(--color-white);
}

.item-central {
    margin-bottom: 5px;
}

.item-central i {
    margin-right: 5px;
}

.weather-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.weather-list li {
    margin-bottom: 5px;
}

.weather-list li i {
    margin-right: 5px;
}

.text-dots {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.vcenter, .center-all {
    display: flex;
    align-items: center;
}

.center-all {
    justify-content: space-between;
}

.swal2-html-container {
    height: 400px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.swal2-html-container table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.swal2-html-container table thead {
    position: sticky;
    top: 0;
    background: var(--color-primary);
    color: var(--color-white);
}

.swal2-html-container table tbody tr:nth-child(even) {
    background: var(--color-secondary);
}

.swal2-html-container table th, td {
    padding: 10px;
}

.rotate {
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    100% { transform: rotate(360deg); }
}

.flash  {
    animation: flash 1s infinite;
}

@keyframes flash {
    0%  { opacity: 1; }
    40% { opacity: 0; }
    100%{ opacity: 1; }
}